.aboutme {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212851;
}

.aboutme .title {
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.about-section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.aboutme .image {
    width: 300px;
    height: 300px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

.container-left p {
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
}

.container-left {
    width: 50%;
}

.first-sentence {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: left;
    align-items: center;
}

.hand {
    width: 50px;
    height: 50px;
}

.container-icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.link-icon {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.icon {
    width: 50px;
    height: 50px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }