.Centered {
    position: relative;
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container > p:nth-child(1) {
    font-size: 24px;
    color: #212851;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
}

.Container p:nth-child(2),
.Container p:nth-child(3),
.Container p:nth-child(4) {
    font-size: 80px;
    color: #FFFFFF;
}

.Container p:nth-child(5) {
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}

.knowMore {
    width: 280px;
    margin-top: 20px;
    color: #FFF;
    border: 2px solid #FFF;
    background-color: #212851;
    border-radius: 7px;
    padding: 10px 5px 10px 5px;
}

.knowMore:hover {
    color: #212851;
    background-color: #FFF;
}

.knowMoreText {
    font-size: 24px;
    font-weight: 400;
}


.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Container div p {
    font-size: 24px;
    color: #212851;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    width: 200px;
}