.contact-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.4);
}

.contact-modal {
    width: 70vw;
    height: 70vh;
    background-color: #212851;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hide {
    display: none;
}

.btnClose {
    width: 30px;
    height: 30px;
    background-color: #212851;
    border: none;
    margin-right: 4vh;
}

.close-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btnClose:focus {
    border: none;
}

.btnClose img {
    width: 30px;
    height: 30px;
}

.titleContact {
    font-size: 32px;
    color: #FFF;
}

.formContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}

.inputEmail {
    width: 500px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.inputMessage {
    width: 500px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.inputEmail:focus, .inputMessage:focus {
    outline: none !important;
}

.btnSend {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: #212851;
    background-color: #FFF;
    font-size: 20px;
    font-weight: 700;
}