.NavBar {
    position: relative;
    width: 100vw;
    height: 70px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #141099;
    z-index: 10;
}

.add-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.btnTitle {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    background-color: #141099;
    border: none;
    margin-left: 70px;
}

.Buttons {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
}

.button {
    color: #FFF;
    background-color: #141099;
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border: none;
}

.button:hover {
    color: #141099;
    border: none;
    background-color: #FFF;
}

.button:before {
    content: '';
    color: #FFF;
    background-color: #141099;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all .3s;
}

.button:hover:before {
    transform: translateX(100%) rotate(45deg);
}

.button p {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 400;
}