.vertical-timeline-element-date {
    width: 28% !important;
    color: #FFF;
    opacity: 1 !important;
}

.TimeLine {
    position: relative;
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.space {
    height: 1px;
    width: 100%;
    margin-top: 10px;
}