.Works {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Works .title {
    color: #212851;
    font-size: 36px;
    text-align: center;
    margin-top: 70px;
}

.container-work:nth-child(odd) {
    flex-direction: row !important;
}

.container-work:nth-child(even) {
    flex-direction: row-reverse !important;
}

.container-work {
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image-work {
    width: 35vw;
    object-fit: cover;
    border: 1px solid #212851;
}

.container-description {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-description {
    font-size: 32px;
    color: #212851;
}

.description {
    width: 80%;
    font-size: 20px;
    color: #212851;
}

.other-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tag {
    color: #212851;
    margin-left: 10px;
    margin-right: 10px;
}

.github-link {
    text-decoration: none;
    color: #FFF;
    background-color: #212851;
    padding: 8px;
    border-radius: 5px;
}
